<!doctype html>
<html>
<head>
	<title></title>

<!-- css -->
<link rel="stylesheet" type=text/css href="/css/style.css"  > 

<!--js -->	
<script type="text/javascript" src="./js/canvas.js"></script>


</head>

<body>

<h1>Hi</h1>	
<%= yield %> 


<canvas id="myCanvas" width="578" height="200"></canvas>

<p>below canvas</p>


</body>
</html>