<!doctype html>
<html>
<head>
	<title></title>

<!-- css -->
<link rel="stylesheet" type=text/css href="/css/style.css"  > 

<!--js -->	

</head>

<body>

<h1>Hi</h1>	
<%= yield %> 

</body>
	<script type="text/javascript" src="/js/canvas.js"></script>
</html>