<!doctype html>
<html>
<head>
	<title></title>

<!-- css -->
<link rel="stylesheet" type=text/css href="/css/style.css"  > 

<!--js -->	
<script type="text/javascript" src="/canvas.js"></script>


</head>

<body>

<h1>Hi</h1>	
<%= yield %> 

<canvas>



</canvas>


</body>
</html>